<div class="row py-3" style="background-color: grey;">
    <div class="col-md-4"></div>
    <div class="col-md-4" style="background-color: white; border-radius: 5%;">
        <div class="text-center">
            <img src="../../assets/img/shutdown.png" class="w-50 h-25 my-3 mx-auto" alt="">
        </div>
        <form [formGroup]="myForm" *ngIf="myForm">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text w50" id="basic-addon1">
                            <i class="fa fa-user m-auto" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Tên đăng nhập" formControlName="username">
                </div>
                <div class="textRed" *ngIf="myForm.controls['username'].errors && myForm.value.username !== null">
                    Tên không được để trống.
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text w50" id="basic-addon1">
                            <i class="fa fa-unlock-alt m-auto" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input type="password" class="form-control" placeholder="Mật khẩu" formControlName="password">
                </div>
                <div class="textRed" *ngIf="myForm.controls['password'].errors && myForm.value.password !== null">
                    Mật khẩu không được để trống và lớn hơn 5 kí tự.
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text w50" id="basic-addon1">
                            <i class="fa fa-lock m-auto" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input type="password" class="form-control" placeholder="Nhập lại mật khẩu"
                        formControlName="cfPassword">
                </div>
                <div class="textRed" *ngIf="myForm.controls['cfPassword'].value !== myForm.controls['password'].value">
                    Mật khẩu không khớp.
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text w50" id="basic-addon1">
                            <i class="fa fa-envelope m-auto" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Email" formControlName="email">
                </div>
                <div class="textRed" *ngIf="myForm.controls['email'].errors">
                    Email không hợp lệ
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text w50" id="basic-addon1">
                            <i class="fa fa-map-marker m-auto" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Địa chỉ" formControlName="location">
                </div>
                <div class="textRed" *ngIf="myForm.controls['location'].errors">
                    Địa chỉ không được vượt quá 255 kí tự
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text w50" id="basic-addon1">
                            <i class="fa fa-phone m-auto" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Số điện thoại" formControlName="phone">
                </div>
                <div class="textRed" *ngIf="numberT && myForm.controls['phone'].value !== ''">
                    SĐT phải là số và không chứa các ký tự đặc biệt
                </div>
            </div>

            <div class="form-group">
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text w50" id="basic-addon1">
                            <i class="fa fa-sticky-note m-auto" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Ghi chú" formControlName="note">
                </div>
                <div class="textRed" *ngIf="myForm.controls['note'].errors">
                    Ghi chú không được vượt quá 255 kí tự
                </div>
            </div>

        </form>

        <div class="row form-group">
            <div class="col-md-6">
                <button class="btn btn-secondary w-100" (click)="submitForm()">OK!</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-secondary w-100" (click)="resetForm()">Reset</button>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>