<div class="modal fade" bsModal #modal="bs-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Modal</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="myForm" *ngIf="myForm">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text w75" id="basic-addon1">
                                    Tên
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Tên" formControlName="name" >
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text w75" id="basic-addon1">
                                    Tuổi
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Tuổi" formControlName="age" >
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text w75" id="basic-addon1">
                                    Địa chỉ
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Địa chỉ" formControlName="location" >
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button [disabled]="lockbtn" class="btn btn-secondary" (click)="add()" >Xác nhận</button>
                <button [disabled]="lockbtn" class="btn btn-secondary">Hủy</button>
            </div>
        </div>
    </div>
</div>